<h1>Your order so far...</h1>
<%count = 1%>
<% session[:full_order].each do |order| %>
<h1>Pizza <%=count%></h1>
  <h2>Size:  <%= order[0][0] %></h2>
  <p></p>
  <h2>Crust:  <%= order[1][0] %></h2>
  <p></p>
  <h2>Sauce:  <%= order[2][0] %></h2>
  <p></p>
  <h2>Meats: </h2>
  <%if order[3][0] == nil%>
    <h2>None</h2>
  <%else%>
      <%order[3][0].each do |meat|%>
          <% if meat == "pepperoni" %>
                <h3><%= meat%></h3> <img src="pepperoni.jpg" style="width:100px;height:100px;">
              <% elsif meat == "sausage" %>
                <h3><%= meat%></h3> <img src="sausage.jpg" style="width:100px;height:100px;">
              <% elsif meat == "ham" %>
                <h3><%= meat%></h3> <img src="ham.jpg" style="width:100px;height:100px;">
              <% elsif meat == "chicken" %>
                <h3><%= meat%></h3> <img src="chicken.jpg" style="width:100px;height:100px;">
          <% end %>
      <% end %>
  <% end %>
  <br>
  <h2>Toppings: </h2>
  <%if order[4][0] == nil%>
    <h3>None</h3>
  <%else%>
      <%order[4][0].each do |topping|%>
      <% if topping == "peppers" %>
            <h3><%= topping%></h3><img src="peppers.jpg" style="width:100px;height:100px;">
          <% elsif topping == "onions" %>
            <h3><%= topping%></h3><img src="onion.jpg" style="width:100px;height:100px;">
          <% elsif topping == "olives" %>
            <h3><%= topping%></h3><img src="olives.jpg" style="width:100px;height:100px;">
          <% elsif topping == "mushrooms" %>
            <h3><%= topping%></h3><img src="mushrooms.jpeg" style="width:100px;height:100px;">
          <% elsif topping == "cheese" %>
            <h3><%= topping%></h3><img src="cheese.jpeg" style="width:100px;height:100px;">
      <% end %>
      <% end %>
  <% end %>
  <%count += 1%>
  <br>
<% end %>
<br>

<br>

<form class="" action="another" method="post">
  <input type="submit" value="Order Another Pizza">
</form>

<form class="" action="delivery" method="get">
  <input type="submit" name="" value="Complete Your Order">
</form>
